In [5]:
import os
import sys

project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))

# Ajouter le chemin racine à sys.path
if project_root not in sys.path:
    sys.path.append(project_root)

In [ ]:
# Dans leur Jupyter Notebook:
from Python.Backend.recup_data import recup_travel, recup_users

# Charger les deux datasets directement depuis le cloud:
df_users = recup_users()
df_travel = recup_travel()

# df_users est prêt pour la modélisation !
print(df_users.shape)

✅ Succès : Données de la table 'users_generated' chargées. (1500 lignes)
✅ Succès : Données de la table 'travel_generated' chargées. (8208 lignes)
(1500, 11)

In [7]:
df_users.head()

,user_id,traveler_name,traveler_age,traveler_gender,traveler_nationality,profile_type,climate_pref,primary_dest_type,acc_pref,transport_core_modes,traveler_continent
0,U0001,Rajesh,37,Male,Indian,Froid/Ski/Nordique,Cold,Adventure/Nature,Guesthouse,Voiture (si isolé);Randonnée;Scooter,Asia
1,U0002,Fatima,35,Female,Egyptian,Urbain/Luxe/Shopping,Temperate,City,Airbnb,Bus;Tuk-Tuk;Transports Publics,Africa
2,U0003,Seo-Jun,42,Male,South Korean,Froid/Ski/Nordique,Cold,Adventure/Nature,Villa,Voiture;Tuk-Tuk;Bus,Asia
3,U0004,Alice,20,Female,Brazilian,Froid/Ski/Nordique,Cold,Adventure/Nature,Hostel,Métro;Tuk-Tuk;Voiture,South America
4,U0005,Riccardo,61,Male,Italian,Exotique/Budget,Hot,Cultural/Nature,Villa,Vélo;Marche;Randonnée,Europe

In [8]:
df_travel.head()

,trip_id,user_id,destination,start_date,end_date,duration_days,traveler_name,traveler_age,traveler_gender,traveler_nationality,accommodation_type,accommodation_cost,average_daily_cost,total_cost,local_transport_mode
0,T00001,U0001,"Yellowstone NP, USA",2017-04-21,2017-05-03,13,Rajesh,37,Male,Indian,Guesthouse,734.47,1053.95,1788.42,4x4
1,T00002,U0002,"New York, USA",2024-12-24,2024-12-27,4,Fatima,35,Female,Egyptian,Guesthouse,335.19,790.58,1125.77,Transports Publics
2,T00003,U0002,"Los Angeles, USA",2016-06-21,2016-06-25,5,Fatima,35,Female,Egyptian,Airbnb,663.11,824.73,1487.84,Scooter
3,T00004,U0002,"Budapest, Hungary",2022-03-16,2022-03-19,4,Fatima,35,Female,Egyptian,Airbnb,211.02,179.00,390.02,Bus
4,T00005,U0002,"Edinburgh, UK",2021-02-16,2021-02-18,3,Fatima,35,Female,Egyptian,Airbnb,291.65,247.53,539.18,Transports Publics